name: ci

on:
  push:
    paths:
      - src/**
    branches:
      - main  

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Set short SHA environment variable
        run: |
          echo "SHORT_SHA=$(git rev-parse --short ${{ github.sha }})" >> $GITHUB_ENV
        id: set_short_sha
      -
        name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
     
      -
        name: Build and push
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: sharonre/python-app:${{ env.SHORT_SHA }}